@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  color: #ffffff;
  background-image: url("img/snowden.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #9DED07;
}

a:hover {
  text-decoration: line-through;
}

.container-1 {
  margin: 2.5em 0;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

input, textarea {
  display: block;
  margin-top: 0.3em;
  padding: 0.5em;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1em;
}

#original-message {
  width: 400px;
  height: 70px;
}

#offset-number {
  width: 100px;
}

button {
  border: 1px solid #9DED07;
  background-color: #9DED07;
  padding: 0.5em 1em;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1em;
  font-weight: bold;
}

#encrypt-button {
  margin-right: 1.5em;
}

button:hover {
  border: 1px solid #9DED07;
  background-color: #000;
  color: #9DED07;
}

#root {
  margin-left: 3em;
}

#translated-message {
  overflow-wrap: break-word;
  overflow: auto;
  width: 500px;
  height: 70px;
  margin-top: 0.3em;
  background-color: #fff;
  padding: 0.5em;
  color: #000;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  padding: 0.4em;
  text-align: center;
}

.footer-text {
  font-size: 0.7em;
}