@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  color: #ffffff;
  background: url("img/snowden.jpg") no-repeat #000000;
  background-size: cover;
}

a {
  color: #9DED07;
}

a:hover {
  text-decoration: line-through;
}