@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  height: 100vh;
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  color: #ffffff;
  /* background-image: url("img/snowden.jpg"); */
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #9DED07;
}

a:hover {
  text-decoration: line-through;
}

.container-1 {
  margin: 3em 0;
}

input {
  display: block;
  padding: 0.5em;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1em;
}

button {
  border: 1px solid #3b5a00;
  background-color: #9DED07;
  padding: 0.5em 1em;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  border: 1px solid #9DED07;
  background-color: #000;
  color: #9DED07;
}